.left {
  text-align: left;
}

.reveal .slide-footer {
  position: fixed;
  bottom: 0.5em;
  left: 1em;
  right: 1em;
  font-size: 0.8em;
  color: #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.reveal .slide-footer.hidden {
  display: none;
}

#footer-logo {
  height: 60px;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "HDA DIN Office";
}

.box {
  background-color: #eef6ff;
  border-left: 4px solid #3b82f6;
  margin: 2.0em;
  padding: 0.5em;
  border-radius: 10px;
}

.reveal section {
  font-size: 28px; /* Standard runtersetzen */
}
.reveal h1 { font-size: 1.6em; }
.reveal h2 { font-size: 1.3em; }
.reveal h3 { font-size: 1.1em; }

